<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEAL STORE | Dashboard</title>
    <style>
      body{
        text-align: center;
        text-transform: capitalize;
        margin: 10% auto;
        background-image: linear-gradient(450deg, rgb(180, 255, 180), white);
      }
        button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 5px;
      }

      button:hover{
        background-color: rgb(89, 230, 89);
      }

      h3{
        color: rgb(0, 255, 98);
        font-size: 35px;
      }

      a{
      text-decoration:none;
      color: black;
      font-size: 15px;
    }

    .btn-btn{
      background-color:rgb(89, 230, 89);
      border-radius: 5px;
    }



@media (max-width: 800px){
     body{
      margin: 30% auto;
        margin-left: 12px;
        font-size:20px;
        background-image: linear-gradient(450deg, rgb(180, 255, 180), white);
     }

     h3{
       font-size:35px;
     }

     button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
        margin-bottom: 5px;
      }

      button:hover{
        background-color: rgb(89, 230, 89);
      }
}



    </style>
  </head>
  <body>
    <h3>Welcome You Are Authenticated</h3>

    <p>Your step to becoming a seller on deal store.</p>
    <p>Selling on deal store helps you reach more buyers in afe babalola university. </p>
    <p>You will be requested to fill in the following:</p>
    <p> business name, product Name, product description, pickup location, amount in stock, price of product,<br> product picture, and your business phone number</p>
    <button class="btn-btn"> <a href="https://dealstore-uploads.netlify.app/"> UPLOAD DETAILS </a> </button>
    <form action="/logout" method="POST">

      <button>Logout</button>
      
    </form>

  </body>
</html>
